@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700";
body {
  font-family: 'Open Sans', sans-serif;
  background: #f3f7f8; }

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  line-height: 1.7em;
  color: #666; }
  a {
    color: red;
    text-decoration: none;
    font-weight: 100; }
    a:hover, a:focus {
      color: #2c3e50;
      text-decoration: underline; }
  
  a, a:hover, a:focus {
    transition: all 0.3s; }
  
  .section-header {
    color: #202020;
    background: linear-gradient(135deg, #202020, #202020 150px, #f3f7f8 150px);
    border-top: 5px solid #202020;
    /* border-left: 1px solid #2c3e50; */
    transform: translateX(-30px);
    margin-bottom: 3s0px;
    clear: both; }
    @media only screen and (min-width: 768px) {
      .section-header {
        transform: translateX(-5px);
        width: calc(100% + 120px); } }
    .section-header h1, .section-header h2 {
      size: 64px;
      color: #f3f7f8;
      margin-bottom: 0; }
  
  h1, .h1 {
    font-size: 32px; }
    @media (min-width: 768px) {
      h1, .h1 {
        font-size: 42px; } }
  
  h2, .h2 {
    font-size: 26px; }
    @media (min-width: 768px) {
      h2, .h2 {
        font-size: 36px; } }
  
  h3, .h3 {
    font-size: 24px;
    line-height: 28px; }
    @media (min-width: 768px) {
      h3, .h3 {
        font-size: 28px;
        line-height: 32px; } }
  
  h4, .h4 {
    font-size: 21px; }
    @media (min-width: 768px) {
      h4, .h4 {
        font-size: 24px; } }
  
  h5, .h5 {
    font-size: 18px; }
    @media (min-width: 768px) {
      h5, .h5 {
        font-size: 20px; } }
  
  h6, .h6 {
    font-size: 16px; }
  
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  width: calc(100% - 50px);
  padding: 0px 30px 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 50px;
  -webkit-box-shadow: inset 5px 0px 10px 0px rgba(32, 32, 32, 0.5);
  -moz-box-shadow: inset 5px 0px 10px 0px rgba(32, 32, 32, 0.5);
  box-shadow: inset 5px 0px 10px 0px rgba(32, 32, 32, 0.5); }
  #content.active {
    width: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  @media only screen and (min-width: 768px) {
    #content {
      width: calc(100% - 165px);
      left: 165px;
      padding: 0 60px 40px;
      -webkit-box-shadow: inset 10px 0px 20px 0px rgba(32, 32, 32, 0.5);
      -moz-box-shadow: inset 10px 0px 20px 0px rgba(32, 32, 32, 0.5);
      box-shadow: inset 10px 0px 20px 0px rgba(32, 32, 32, 0.5); } }

#content section {
  padding-bottom: 40px; }
  #content section:last-child {
    padding-bottom: 0; }

hr {
  width: 60%;
  margin: 25px auto 15px;
  clear: both; }

.follow {
  text-align: center; }
  .follow p {
    margin-bottom: 0; }

.about {
  position: relative; }
  .about .section-header {
    background: linear-gradient(135deg, #202020, #202020 135px, #f3f7f8 135px); }
    @media only screen and (min-width: 768px) {
      .about .section-header {
        background: linear-gradient(135deg, #202020, #202020 155px, #f3f7f8 155px); } }
  .about .name {
    text-align: center;
    margin-bottom: 15px;
    padding: 3px;
    transform: skewX(-45deg);
    background-color: #21c2f8;
    color: #202020;
    display: inline-block;
    position: absolute;
    top: 14px;
    left: 146px;
    width: 250px; }
    @media only screen and (min-width: 768px) {
      .about .name {
        width: 315px;
        left: 143px;
        top: 15px; } }
    .about .name .first, .about .name .last {
      display: inline-block;
      transform: skewX(45deg); }
    @media (max-width: 495px) {
      .about .name {
        width: 130px; }
        .about .name .last {
          display: none; } }
  .about .profile-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 25px;
    border: 5px solid transparent;
    box-shadow: 0 0 0 3px #21c2f8;
    float: none;
    -webkit-shape-outside: circle(50%);
    shape-outside: circle(50%); }
    @media only screen and (min-width: 576px) {
      .about .profile-img {
        float: left;
        margin: 0;
        transform: translateX(-15px); } }

    .skills .section-header {
  background: linear-gradient(135deg, #202020, #202020 235px, #f3f7f8 235px); }
  @media only screen and (min-width: 768px) {
    .skills .section-header {
      background: linear-gradient(135deg, #202020, #202020 260px, #f3f7f8 260px); } }
    .skills__content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around; }
  .skills__card {
  margin: 0 15px 30px; }
  .skills__card img {
    height: 10px;
    margin: 0 auto 15px;
    display: block; }
    @media only screen and (min-width: 576px) {
      .skills__card img {
        height: 90px; } }
    @media only screen and (min-width: 768px) {
      .skills__card img {
        height: 110px; } 

.projects hr {
  margin-bottom: 15px; }
  text-align:center
.projects__content {
  padding: 0;
  width: calc(100% + 60px);
  transform: translateX(-30px); }
  @media only screen and (min-width: 576px) {
    .projects__content {
      width: 100%;
      transform: none; } }
  @media only screen and (min-width: 992px) {
    .projects__content {
      width: 100%;
      padding: 0 100px;
      transform: none; } }


/*# sourceMappingURL=main.css.map */
